<div class="profile-avatar {{addClass}}">
    <img class="profile-avatar__img" src="https://ya-praktikum.tech/api/v2/resources{{{ avatarPath }}}" width="130" height="130" alt="{{{ login }}}">
    <span class="profile-avatar__change">
        Поменять аватар
    </span>
</div>
