.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;

  &--xs {
    padding: 0 8px;
    min-height: 32px;
  }

  &--sm {
    padding: 0 16px;
    min-height: 40px;
  }

  &--primary {
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    background-color: $accent-color;
  }

  &--svg {
    padding: 0;

    svg,
    img {
      margin: 0;
    }

    &.btn--xs {
      min-width: 32px;
      width: 32px;
    }

    &.btn--sm {
      min-width: 40px;
      width: 40px;
    }

    &.btn--block {
      min-width: auto;
      width: 100%;
    }
  }

  &--ghost {
    color: #424242;
    background-color: transparent;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #dbdbdb;
    }
  }

  &--center {
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }

  &--block {
    width: 100%;
  }

  &--circle {
    border-radius: 50%;
  }
}
