<div class="message {{addClass}} {{#if myMessage}}message--my{{else}}message--opponent{{/if}}">
    <p class="message__text">
        {{content}}
    </p>
    <p class="message__time">
        {{time}}
    </p>
</div>
