<div class="avatar-loading">
    <p class="avatar-loading__title">
        Загрузите файл
    </p>
    <form class="avatar-loading__form">
        <input class="avatar-loading__load" type="file" name="avatar" accept=".jpg, .jpeg, .png">
        <button class="btn btn--sm btn--primary" type="submit">
            Сохранить
        </button>
        <p class="avatar-loading__empty-file" style="display:none;">
            Нужно выбрать файл
        </p>
    </form>
</div>
