.avatar-loading {
  &__title {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #1E1E1E;
    margin-bottom: 40px;

    &--error {
      color: #FF2F2F;
    }
  }

  &__form {

  }

  &__load {
    margin-bottom: 24px;
  }

  &__empty-file {
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #FF2F2F;
    margin-top: 14px;
  }
}