<div class="dialog-item__avatar">
  <img src="{{{avatarUrl}}}" alt="Пользователь без аватарки">
</div>
<div class="dialog-item__info">
  <div class="dialog-item__head">
    <p class="dialog-item__name">
      Киноклуб
    </p>
    <time class="dialog-item__time" datetime="12:00">
      12:00
    </time>
  </div>
  <div class="dialog-item__body">
    <p class="dialog-item__msg">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem dignissimos dolorem doloremque, ea earum error et minus necessitatibus nesciunt numquam odit officia optio quia, quisquam, tempora ut. Omnis, soluta.
    </p>
    <p class="dialog-item__counter">
      4
    </p>
  </div>
</div>
