<form class="avatar-loading-form">
    <input class="avatar-loading-form__load" type="file" name="avatar" required accept=".jpg, .jpeg, .png">
    <button class="btn btn--sm btn--primary" type="submit">
        Сохранить
    </button>
    <p class="avatar-loading-form__empty-file" style="display:none;">
        Нужно выбрать файл
    </p>
</form>
