.auth-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 30px 30px;
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  background-color: #fff;

  &__title {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #1e1e1e;
  }

  &__form {
  }

  &__label {
    margin-bottom: 32px;
  }

  &__submit {
    margin-bottom: 14px;
  }

  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}
