.error-page {
  margin: auto;
  text-align: center;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    color: #1e1e1e;
  }

  &__text {
    margin-bottom: 69px;
    font-weight: 500;
    font-size: 20px;
    color: #1e1e1e;
  }

  &__link {

  }
}
