.error-page {
  text-align: center;
  margin: auto;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    color: #1E1E1E;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #1E1E1E;
    margin-bottom: 69px;
  }

  &__link {

  }
}
