.button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &--sm {
    max-width: 280px;
    width: 100%;
    min-height: 37px;
    padding: 0 16px;
  }

  &--primary {
    background-color: #3369F3;
    font-weight: 500;
    border-radius: 8px;

    font-size: 13px;
    line-height: 1;

    color: #FFFFFF;
  }
}
