.input {
  width: 100%;
  border: none;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  min-height: 27px;
  border-bottom: 1px solid #3369F3;
  outline: none;

  &::placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #999999;
  }

  &:focus, &:active {
  }
}
