body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 1.25;
  color: #1e1e1e;
}

.link-list {
  margin: auto;
  text-align: center;

  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  a {
    font-size: 24px;
    color: #7f0000;

    &:hover {
      text-decoration-line: underline;
    }
  }
}
