@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";
@import "helpers/_variables.pcss";
@import "helpers/_mixins.pcss";
@import "core/_reset.pcss";
@import "core/_global.pcss";
@import "design-system/index.pcss";
@import "pages/index.pcss";
