.link {
  font-weight: 500;
  line-height: 1;

  &--sm {
    font-size: 11px;
  }

  &--md {
    font-size: 13px;
  }

  &--primary {
    color: #3369f3;

    &:hover {
      color: #33698f;
    }
  }

  &--accent {
    color: #f00;

    &:hover {
      color: #960000;
    }
  }
}
