{{#extend "main" title="404" }}
    {{#content "content" }}
        <div class="error-page">
            <h2 class="error-page__title">
                404
            </h2>
            <p class="error-page__text">
                Не туда попали
            </p>
            {{> "link/link" text="Назад к чатам" size="sm" variant="primary" addClass="error-page__link" href="index.hbs"}}
        </div>
    {{/content}}
{{/extend}}
