{{#extend "main" title="Главная" }}
    {{#content "content" }}
        <div class="column">
            <div class="column__left">
                <ul class="dialog-items">
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                    {{> 'dialog-item/dialog-item'}}
                </ul>
            </div>
            <div class="column__center">
                {{> 'empty-choose-message/empty-choose-message'}}
            </div>
        </div>
    {{/content}}
{{/extend}}
