{{!< main}}
<ul class="link-list">
    <li>
        <a href="home.hbs">Home</a>
    </li>
    <li>
        <a href="404.hbs">404</a>
    </li>
    <li>
        <a href="505.hbs">505</a>
    </li>
    <li>
        <a href="login.hbs">Login</a>
    </li>
    <li>
        <a href="registration.hbs">Registration</a>
    </li>
</ul>
