{{#extend "main" title="Профиль" }}
    {{#content "content" }}
        {{> 'link-back/link-back'}}
        <div class="profile-page">
            {{> 'profile-avatar/profile-avatar' addClass="profile-page__avatar"}}
            <form class="border-list__form">
                <ul class="border-list border-list--mb60">
                    <li class="border-list__item">
                        {{> 'edited-label/edited-label' editable=true text="Старый пароль" name="oldPassword" type="password" value="123"}}
                    </li>
                    <li class="border-list__item">
                        {{> 'edited-label/edited-label' editable=true text="Новый пароль" name="newPassword" type="password" value="qwerty"}}
                    </li>
                    <li class="border-list__item">
                        {{> 'edited-label/edited-label' editable=true text="Повторите новый пароль" name="repeat_password" type="password" value="qwerty"}}
                    </li>
                </ul>
                {{> "button/button" text="Сохранить" size="sm" variant="primary" center=true type="submit"}}
            </form>
        </div>
    {{/content}}
{{/extend}}