{{#extend "main" title="Профиль" }}
    {{#content "content" }}
        {{> 'link-back/link-back'}}
        <div class="profile-page">
            {{> 'profile-avatar/profile-avatar' addClass="profile-page__avatar"}}
            <p class="profile-page__name">
                Иван
            </p>
            <ul class="border-list border-list--mb60">
                <li class="border-list__item">
                    {{> 'edited-label/edited-label' editable=false text="Почта" value="pochta@yandex.ru"}}
                </li>
                <li class="border-list__item">
                    {{> 'edited-label/edited-label' editable=false text="Логин" value="ivanivanov"}}
                </li>
                <li class="border-list__item">
                    {{> 'edited-label/edited-label' editable=false text="Имя" value="Иван"}}
                </li>
                <li class="border-list__item">
                    {{> 'edited-label/edited-label' editable=false text="Фамилия" value="Иванов"}}
                </li>
                <li class="border-list__item">
                    {{> 'edited-label/edited-label' editable=false text="Имя в чате" value="Иван"}}
                </li>
                <li class="border-list__item">
                    {{> 'edited-label/edited-label' editable=false text="Телефон" value="+7 (909) 967 30 30"}}
                </li>
            </ul>
            <ul class="border-list">
                <li class="border-list__item">
                    {{> "link/link" text="Изменить данные" size="md" variant="primary" href="profile-editable.hbs"}}
                </li>
                <li class="border-list__item">
                    {{> "link/link" text="Изменить пароль" size="md" variant="primary" href="profile-password-editable.hbs"}}
                </li>
                <li class="border-list__item">
                    {{> "link/link" text="Выйти" size="md" variant="accent" href="index.hbs"}}
                </li>
            </ul>
        </div>
    {{/content}}
{{/extend}}
