{{#extend "main" title="Регистрация" }}
    {{#content "content" }}
        <div class="auth-box">
            <h2 class="auth-box__title">
                Регистрация
            </h2>
            <form class="auth-box__form">
                {{> "input/input" addClass="auth-box__label" type="email" name="email" placeholder="Почта"}}
                {{> "input/input" addClass="auth-box__label" type="tel" name="phone" placeholder="Телефон"}}
                {{> "input/input" addClass="auth-box__label" type="text" name="first_name" placeholder="Имя"}}
                {{> "input/input" addClass="auth-box__label" type="text" name="second_name" placeholder="Фамилия"}}
                {{> "input/input" addClass="auth-box__label" type="text" name="login" placeholder="Логин"}}
                {{> "input/input" addClass="auth-box__label" type="password" name="password" placeholder="Пароль"}}
                {{> "input/input" addClass="auth-box__label" type="password" name="repeatPassword" placeholder="Пароль (ещё раз)"}}
                {{> "button/button" text="Зарегистрироваться" size="sm" variant="primary" addClass="auth-box__submit" type="submit"}}
                {{> "link/link" text="Назад к чатам" size="sm" variant="primary" addClass="auth-box__link" href="index.hbs"}}
            </form>
        </div>
    {{/content}}
{{/extend}}
