.form-send-message {
  padding: 10px 20px;
  border-top: 1px solid #eaeaea;
  display: flex;
  gap: 10px;

  &__file {

  }

  &__input {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #efefef;
    border-radius: 30px;
    min-height: 32px;
    width: 100%;
  }
}
