.form-send-message {
  padding: 10px 20px;
  border-top: 1px solid #eaeaea;

  &__form {
    display: flex;
  }

  &__file {

  }

  &__input {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #efefef;
    border-radius: 30px;
    min-height: 32px;
    width: 100%;
  }

  &__file {

  }
}
