<form class="form-send-message__form">
    <button class="form-send-message__file btn btn--ghost btn--svg" type="button">
        <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m4.492 8.437 4.735-4.735.589.59-4.735 4.735-.59-.59zM6.063 10.009l4.735-4.735.59.589-4.736 4.735-.59-.59zM9.402 13.348l4.735-4.735.59.59-4.736 4.734-.589-.589zM10.973 14.92l4.735-4.736.59.59-4.735 4.735-.59-.59z" fill="#999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.973 14.92c-1.634 1.634-4.278 1.64-5.905.012-1.627-1.627-1.622-4.27.013-5.905l-.59-.59c-1.96 1.962-1.968 5.135-.015 7.087 1.952 1.953 5.125 1.946 7.087-.015l-.59-.59zM14.137 8.613l.59.589a3.898 3.898 0 0 0 .012-5.512 3.898 3.898 0 0 0-5.512.012l.589.59a3.062 3.062 0 0 1 4.33-.01 3.062 3.062 0 0 1-.009 4.33z" fill="#999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.063 10.009a2.784 2.784 0 0 0-.009 3.937 2.784 2.784 0 0 0 3.937-.009l-.589-.589a1.949 1.949 0 0 1-2.756.006 1.949 1.949 0 0 1 .006-2.756l-.589-.589z" fill="#999"/></svg>
    </button>
    <input
        type="text"
        pattern="{{inputPattern}}"
        title="{{inputTitle}}"
        class="form-send-message__input"
        name="message"
        required
        placeholder="Сообщение"
        autocomplete="off"
    >
    <button class="form-send-message__file btn btn--primary btn--svg" type="submit">
        <svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M0 5.2h11v1.6H0z"/><path d="m7 1 4 5-4 5" stroke="#fff" stroke-width="1.6"/></svg>
    </button>
</form>
