<form class="add-content-modal">
    <p class="add-content-modal__title">
        {{title}}
    </p>
    <div class="add-content-modal__input">
        {{#each inputs}}
            {{{this}}}
        {{/each}}
    </div>
    {{{buttonSubmit}}}
</form>

