.add-content-modal {
  &__title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #1e1e1e;
  }

  &__input {
    margin-bottom: 24px;

    > * {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
