.link {
  font-weight: 500;
  cursor: pointer;

  &--sm {
    font-size: 11px;
  }

  &--md {
    font-size: 13px;
  }

  &--primary {
    color: $accent-color;

    &:hover {
      color: #33698f;
    }
  }

  &--accent {
    color: $primary-color;

    &:hover {
      color: #960000;
    }
  }
}
