.form-control {
  display: block;

  &__input {
    width: 100%;
    min-height: 27px;
    outline: none;
    border: 1px solid transparent;
    border-bottom-color: #3369f3;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    background-color: #fff;

    &:focus,
    &:active {
      border-color: #3369f3;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 13px;
      line-height: 1;
      color: #999;
    }
  }
}
