.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;

  &--sm {
    padding: 0 16px;
    width: 100%;
    min-height: 37px;
    min-width: 280px;
  }

  &--primary {
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    background-color: #3369f3;
  }

  &--center {
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }
}
